<h1>CityZones password recovery link</h1>

<p>
  This is a password recovery link so you can change your forgotten password for CityZones.
</p>

<p>
  <%= link_to edit_password_recovery_url(@recovery.token), edit_password_recovery_url(@recovery.token) %>
</p>

<p>
  If you haven't requested this link, just ignore it. Also, it is a good idea to check if you have a strong password.
</p>
